@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    height: auto;
    max-width: 1330px;
    min-width: 320px;
    padding:10px ;
    
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}

#titulo{
   font-size: 8vw;
   text-align: center;
   font-family: 'Fascinate Inline', cursive;
   margin-bottom: 0;
   
}

header p{
    text-align: center;
    font-size: 18px;
    padding: 5px;
    margin-top: 2px;
}
main{
    margin: 0;
    font-family: "Patrick Hand";
}
h1.rolando{
background-color: rgb(255, 255, 255);
max-width: 1350px;
min-width: 320px;
height: 900px;
}
h1.rolando p{
font-size: 3.5vw;
    margin: 30px;
    margin-top: 60px;
    max-width: 700px;
    min-width: 320px;
    height: 900px;
    padding: 5px;
    line-height: 2em;
}
h1.parado{
max-width: 1330px;
min-width: 320px;
height: 900px;
background-image: url(imagens/background001.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding: 10px;

}
h1.parado p{
    display: inline-block;
    font-size: 3.5vw;
    
    max-width: 550px;
    min-width: 320px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    padding: 5px;
    line-height: 2em;
    
}
h1.parado2{
max-width: 1330px;
min-width: 320px;
height: 850px;
background-image: url(imagens/background002.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding: 10px;

}
h1.parado2 p{
    text-align: left;
    font-size: 3.5vw;
    margin: 30px;
    margin-top: 60px;
    max-width: 600px;
    min-width: 320px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    padding: 5px;
    line-height: 2em;
    text-shadow: 2px 2px 2px black;
    
 }
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    font-style: italic;
    max-width: 1350px;
    min-width: 320px;
}